<div class="container">
    <div class="row">
        <div class="col-md-2 yellow">
            <div class="row d-flex justify-content-center p-4">
                <button type="button" class="btn btn-secondary">
                    <span class="text-center">+ Adicionar</span>
                </button>
            </div>
            <div class="row d-flex justify-content-center p-4">
                <button type="button" class="btn btn-secondary">
                    <span class="text-center">Limpar</span>
                </button>
             </div>
             <div class="row d-flex justify-content-center p-4">
                <button type="button" class="btn btn-secondary">
                    <span class="text-center">Cancelar</span>
                </button>
             </div>
             <div class="row d-flex justify-content-center p-4">
                <button type="button" class="btn btn-secondary">
                    <span class="text-center">Confirmar</span>
                </button>
             </div>
        </div>
        <div class="col-md-10 green">
            
        </div>
    </div>














<!-- 

    <div class="row">
    <div class="col-md-6">
        <div class="container">
            
                <div>
                    <label>Name:</label>
                        <input 
                        type="text" 
                        class="form-control" 
                        [(ngModel)]=usuario.name>
                </div>
            </div>
        </div>
        <div class="row">
        <div class="col-md-4">
            <label>Data Nascimento</label>
                <input 
                    type="date" 
                    class="form-control" 
                    [(ngModel)]=usuario.dtNascimento>
        </div>
        <div class="col-md-4">
            <label>Sexo</label>
                <select class="form-control" [(ngModel)]=usuario.sexo>
                    <option value="Masculino">Masculino</option>
                    <option value="Feminino">Feminino</option>
                </select>
        </div>
    </div>


      <div class="col-md-4">
          <button type="button" class="btn btn-primary" (click)="cancelaItem()">
            Cancelar
          </button>
          <button type="button" class="btn btn-primary" [disabled]="(!usuario.name || !usuario.dtNascimento || !usuario.sexo)"
            (click)="gravaItem()">Salvar
          </button>    
      </div>    
    </div>  -->
</div>
