<div class="container-fluid-xl">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><h1 class="text-center text-justify">Gerenciamento de Usuários</h1></li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-1 gray">
          <ol>
            <li><a [routerLink]="['/editar']" (click)="voltar=true">Editar</a></li>
            <li *ngIf="voltar"><a [routerLink]="['/']" (click)="voltar=false">Voltar</a></li>
            <li *ngIf="voltar"><a [routerLink]="['/']" (click)="voltar=true">Adicionar</a></li>
          </ol>
    </div>
    <div class="col-md-11">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>